<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- injecting values from properties file -->
	<context:property-placeholder location="classpath:sport.properties" />

	<!-- just to present references -->
	<bean id="myFortuneService" class="com.webcache.springdemo.HappyFortuneService" />

	<!-- just to present references -->
	<bean id="myRandomFortuneService" class="com.webcache.springdemo.RandomFortuneService" />

	<!-- dependency injection constructor example -->
	<bean id="myCoach" class="com.webcache.springdemo.diconstructor.FootballCoach">
		<constructor-arg ref="myFortuneService" />
		<constructor-arg ref="myRandomFortuneService" />
	</bean>

	<!-- dependency injection properties example -->
	<bean id="myCricketCoach" class="com.webcache.springdemo.diproperties.CricketCoach">
		<property name="fortuneService" ref="myFortuneService" />
		<property name="randomFortuneService" ref="myRandomFortuneService" />
		<!-- literal value injection -->
		<property name="emailAddress" value="Dupa" />
		<!-- from properties file -->
		<property name="team" value="${foo.team}" />
	</bean>

</beans>